body {
    background-color: #444;
    background: url('../images/space.jpg');
    background-size: cover;
    animation: space 20s infinite alternate linear;
    font-size: 10px;
}

@keyframes space {
from {
  background-position: -150px 150px; }
to {
  background-position: 150px -150px; }
}

.form-signin input[type="text"] {
    margin-bottom: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-signin .form-control {
    position: relative;
    font-size: 16px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.vertical-offset-80 {
    padding-top: 80px;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
}
.panel {
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.75);
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.linha_usuario{
    display: block;
    margin-top:10px;
    padding:5px;
}

.linha_usuario img{
    margin-right:5px;
    margin-top:-7px;
}

img {
    vertical-align: middle;
}

.container {
  margin: 0 auto;
  min-width: 98vw;
}

.conversa{
	margin-top: 5em;
}

.participantes{
	margin-top:70px;
	margin-bottom: 70px;
  color: #FFF;
}

.participante{
	display:block;
	margin-bottom:15px;
}

.participante img{
	margin-top:-10px;
  max-width: 2vw;
  background-color: #FFF;
  border-radius: 50%;
}

.center {
  text-align: center;
  max-width: 40vw;
  margin: 1.2em auto auto auto;
  padding: 0;
}

.left {
  max-width: 30vw;
  margin: .2em 0;
  padding: 0.4em;
  word-wrap: break-word;
}

.right {
  max-width: 30vw;
  margin: .2em 0;
  background-color: #3b5998;
  color: #FFF;
  padding: 0.2em;
  word-wrap: break-word;
}

.both {
  display: flex;
  justify-content: flex-end;
}

.both1 {
  display: flex;
  justify-content: flex-start;
}

.bot {
  display: block;
  min-height: 12vh;
}

.alert img {
  max-width: 2.5vw;
  border-radius: 50%;
}

.part {
  max-width: 30vw;
}

#enviar_mensagem {
  max-width: 20vw;
}

@media (min-width: 768px){
  body {
    font-size: 18px;
  }
  .center {
    max-width: 20vw;
    margin: 0.2em auto auto auto;
  }
  .part {
    max-width: 12vw;
  }
}
